:root {
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.toggle--checkbox {
  display: none;
  cursor: pointer;
}
.toggle--checkbox:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}
.toggle--checkbox:checked {
  background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 20px;
  width: 2px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 2px;
  height: 2px;
  top: -8.3px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 2px;
  height: 2px;
  left: -10px;
  top: 6.6px;
}
.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 66.6px;
  height: 33.3px;
  background: var(--blue-color);
  border-radius: 100px;
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}
.toggle--label-background {
  width: 3px;
  height: 2px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 45px;
  top: 15px;
  transition: all 150ms ease-in;
}
.toggle--label-background:before {
  content: '';
  position: absolute;
  top: -2px;
  width: 13.3px;
  height: 2px;
  border-radius: 5px;
  background: var(--white);
  left: -6.6px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: '';
  position: absolute;
  top: 2px;
  width: 13.3px;
  height: 2px;
  border-radius: 5px;
  background: var(--white);
  left: -3.3px;
  transition: all 150ms ease-in;
}
.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: '';
  width: 27.3px;
  height: 27.3px;
  border: 2px solid var(--yellow-border);
  top: 1.3px;
  left: 1.3px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: '';
  box-shadow: var(--gray-dots) -6.4px 0 0 1px, var(--gray-dots) -12px 5px 0 -1px;
  left: 53px;
  top: 7.6px;
  width: 4px;
  height: 4px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 1.5px;
  }
  60% {
    left: 1.5px;
    width: 37.3px;
  }
  100% {
    left: 34px;
    width: 27.3px;
  }
}
@keyframes reverse {
  0% {
    left: 34px;
    width: 27.3px;
  }
  60% {
    left: 24px;
    width: 37.3px;
  }
  100% {
    left: 1.5px;
  }
}
